body {
    background-color: #f8f8f8;
}

.navigation li {
    font-family: sans-serif;
    font-size: 0.95em;
}

.navigation a {
    color: blue;
}

.navigation ul {
    list-style-type: none;
}

#product_description h3, #product_specifications h3, #product_details h3 {
    color:black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

#product_description p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

#product_details p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#product_specifications ul {
    font-family: sans-serif;
    color:darkslategray;
    line-height: 20px;
    font-size: 14px;
    list-style-image: url(goods/imgs/smile.jpg);
}

#contact_form input[type = "text"], #contact_form textarea {
    width: 250px;
    font-size: 14px;
    color: #484343;
}

#contact_form textarea {
    height: 150px;
}